* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #267e4d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2 {
    color: #eee;
}

.turn {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    width: fit-content;
    position: relative;
    border-radius: 10px;
}

.turn .square,
.winner .square {
    width: 70px;
    height: 70px;
    pointer-events: none;
    border-color: transparent;
}

.turn .square span.x::before,
.turn .square span.x::after {
    background: #222;
    transition: 0.2s;
}

.turn .square span.o {
    transition: 0.2s;
    border-color: #222;
}

.turn::after {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    top: 0;
    background: #49ff58;
    border-radius: 9px;
    z-index: -1;
    transition: 0.2s;
}

.turn.left::after {
    left: 0;
}

.turn.left span.o {
    border-color: #eee;
}

.turn.right span.x::before,
.turn.right span.x::after {
    background: #eee;
}

.turn.right::after {
    left: 50%;
}
